@tailwind base;
@tailwind components;
@tailwind utilities;

/* *Cannot CTRL+S, must CTRL+K => CTRL + SHIFT + S, to avoid format on save */

.input {
  @apply p-4 text-2xl dark:bg-zinc-700 dark:text-white rounded;
}
.bigInp {
  @apply p-4 text-2xl rounded mb-[1px] bg-white dark:bg-zinc-700 dark:text-white
}
.button {
  @apply w-full flex justify-center p-4 text-sm font-medium rounded-md text-white bg-amber-600 hover:bg-amber-700 focus:outline-none focus:ring-purple-500 mt-10;
}
.dayName {
  @apply w-1/6 flex justify-center text-xl items-center rounded bg-white border-solid border border-black dark:bg-zinc-700 dark:text-white
}
.timeBar {
  @apply relative h-20 border-solid border border-black bg-white flex justify-center items-center rounded dark:bg-zinc-700
}
.eventBar {
  @apply absolute text-white text-center flex justify-center items-center rounded h-89
}
.fromToTimeContainer {
  @apply text-2xl rounded bg-white dark:bg-zinc-700 dark:text-white p-3.5 border-b border-black
}
.container{
  @apply max-w-[1280px] flex flex-wrap justify-around m-auto mt-52 items-center
}
/* .container {
  max-width: 1280px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: auto;
  margin-top: 100px;
  align-items: center;
} */